
<div class="bg-black w-full h-screen flex flex-col justify-center items-center gap-1 game-bg" [ngClass]="gameOverBg()">

  <div class="bg-yellow-400 w-[90%] md:w-[500px] md:h-[70px] flex flex-row justify-between items-center p-4">

    <div class="flex flex-row gap-5">
      <div class="bg-[#197BBD] w-10 h-7 flex items-center justify-center cursor-pointer" (click)="userTurnChange(true)" >
        <svg
          class="w-full h-full p-1"
          viewBox="0 0 100 100"
          xmlns="http://www.w3.org/2000/svg"
        >
          <line
            x1="25"
            y1="25"
            x2="75"
            y2="75"
            stroke="currentColor"
            stroke-width="10"
            stroke-linecap="round"
          />
          <line
            x1="75"
            y1="25"
            x2="25"
            y2="75"
            stroke="currentColor"
            stroke-width="10"
            stroke-linecap="round"
          />
        </svg>
      </div>

      <div  class="bg-[#F21B3F] w-10 h-7 flex items-center justify-center cursor-pointer " (click)="userTurnChange(false)" >
        <svg
          class="w-full h-full p-1"
          viewBox="0 0 100 100"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle
            cx="50"
            cy="50"
            r="35"
            fill="none"
            stroke="currentColor"
            stroke-width="10"
            stroke-linecap="round"
          />
        </svg>
      </div>
    </div>

    <div>
      <select id="difficultyLevel" name="difficultyLevel" (change)="resetGrid()" [(ngModel)]="difficultyLevel" class="bg-yellow-300 border-2 border-yellow-600 cursor-pointer">
        <option value="easy" selected>EASY</option>
        <option value="medium">MEDIUM</option>
        <option value="friend">FRIEND</option>
      </select>
    </div>
  </div>

  <div class="w-[90%] md:w-[500px] aspect-square grid grid-cols-3 grid-rows-3 gap-1">
    <div
      *ngFor="let cell of grid; let i = index"
      class="flex justify-center items-center cursor-crosshair"
      [ngClass]="getCellClass(i)"
      (click)="userInput(i)">
    </div>
  </div>
</div>

<div class="dialog-overlay " *ngIf="showGameOverModal" (click)="closeGameOverModal()">
  <div class="dialog w-[75%]  md:w-[400px]  aspect-[3/2]" (click)="$event.stopPropagation()">
    <div class=" font-bold text-2xl">
      {{gameOverMessage}}
    </div>
  </div>
</div>
